footer {
    height:10%;
    width:100%;
}

.cara{
   height: 500px;
}

.caramain{
   padding:2px;
   background-color: #000000; 
}

.content{
    background-color: white; 
}

body{
    font-family: 'Mali', cursive;
    background-color: #e9ebee;
}

.bg-main{
   background-color: #873B00; 
}

.logo{
    width: 100px;
}

.title{
    color: white;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .title{
        width:50%
    }
}

.carousel {
    overflow:hidden
}